FUGLE_API_KEY=ZjA4ODAyMzYtNTk5My00ZmRjLTk0MDUtN2VhYjcxNzMzMWFiIDIwMTVhMTc0LTJiOGYtNGNlYy1iYjczLTFjZDUzNWI5N2NmNw
POSTGRES_USER=trading
POSTGRES_PASSWORD=changeme
POSTGRES_DB=trading_db
DATABASE_URL=postgresql+asyncpg://trading:changeme@db:5432/trading_db
FORCE_POLL=false
